*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Set the height of the container to the full viewport height */
    background-image: url('/background.jpg'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover; /* Ensure the background image covers the entire container without stretching */
    background-position: center; /* Center the background image within the container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent,rgba(255,255,255,0.4),transparent);
    transition: 0.5s;

}
.header:hover:after{
left: 100%;
}

.logo{
    font-size: 2rem;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding:10px;
}
.navbar a:hover{
    color:#15d1ea;
    transition:0.3s;
}
#check{
    display: none;
}

.icons{
    font-size: 2.8rem;
    right: 5%;
    color: #fff;
    cursor: pointer;
    display: none;
}

/*Gallery*/
img{
    max-width: 100%;
    height:auto;
    vertical-align: middle;
    display: inline-block;
}
.grid-wrapper > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-wrapper > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.grid-wrapper{
    display: grid;
    grid-gap:5px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
.grid-wrapper .wide{
    grid-column: span 2;
}
.grid-wrapper .tall{
    grid-row: span 2;
}
.grid-wrapper .big{
    grid-column: span 2;
    grid-row: span 2;
}

/*Contact*/
section{
    padding: 40px 15px;
}

.contact{
    background: rgba(0,0,0,0.7);
    height: 100%;
    width:100% ;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 6rem;
}
.contact-image img{
    
    width: auto;
    height: auto;
    border-radius: 50%;
}

.contact-form h1{
    font-size:80px ;
    color: #fff;
    margin-bottom: 20px;
}
.contact-form p{
    font-size:1.1rem;
    color: #c6c9d8bf;
    margin-bottom: 3.8rem;
    line-height: 1.1rem;
    letter-spacing: 1px;
}

.contact-form form{
    position: relative;
}

.contact-form form input, form textarea{
    width: 100%;
    padding: 17px;
    border:none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom:0.7rem ;
    border-radius: 10px;
}
span{
    color: #15d1ea;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form form .btn{
    display: inline-block;
    background: #15d1ea;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}
.contact-form form .btn:hover{
    border: 2px solid #15d1ea;
    background: transparent;
    transform: scale(1.1);

}

/*Content*/
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    justify-content: space-between;
    display: grid;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    border-radius: 10px;
   
}
.content h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
.content h3{
    color: white;
    margin: 20px 0px 20px;
    font-size: 25px;
}
.content h4{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #15d1ea;
    outline: none;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #15d1ea;
    color: white;
    box-shadow: 0px 0px 5px #000,0px 0px 15px #858585;
    top: 6px;
    right: 6px;

}
.content-container{
    height: 100%;
    width:100% ;
    min-height: 100vh;
    display: flex;
    grid-template-columns: repeat(2,2fr);
    align-content: stretch;
    grid-gap: 6rem;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;

}
.content-image img{
    max-height: 500px;
    max-width: 500px;
    width: auto;
    height: auto;
    border-radius: 50%;
    float: right;
   
}
/*About content*/
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
    padding: 10px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
color: #fcfc;
letter-spacing: 1px;
line-height: 18px;
margin-bottom: 45px;
}
button{
    background-color: #15d1ea;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #15d1ea;
    cursor: pointer;
}
/*servic section*/
.service{
    background: #101010;
    width :100%;
    padding: 100px 0px ;
}
.title h2{
    color: white;
    font-size:75px;
    width: 1130px;
    margin :30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    /* background: #191919; */
    border-radius: 20px;
    margin:15px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#one{
    background:url("img/p1.png");
    height: 100vh; /* Set the height of the container to the full viewport height */
    
    background-size: cover; /* Ensure the background image covers the entire container without stretching */
    background-position: center; /* Center the background image within the container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}
#two{
    background:url("img/p2.png");
    height: 100vh; /* Set the height of the container to the full viewport height */
    
    background-size: cover; /* Ensure the background image covers the entire container without stretching */
    background-position: center; /* Center the background image within the container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}
#three{
    background:url("img/p3.png");
    height: 100vh; /* Set the height of the container to the full viewport height */
    
    background-size: cover; /* Ensure the background image covers the entire container without stretching */
    background-position: center; /* Center the background image within the container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}
#four{
    background:url("img/p7.png");
    height: 100vh; /* Set the height of the container to the full viewport height */
    
    background-size: cover; /* Ensure the background image covers the entire container without stretching */
    background-position: center; /* Center the background image within the container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}
.card i{
        font-size: 50px;
        display: block;
        text-align: center;
        margin: 25px 0px;
        color:#15d1ea ;
}
.card h5{
    color: white;
    font-size:23px;
    margin-bottom: 15px;
}
.pra{
    background-color: #0000008f;
}
.pra p{
color: #fcfc;
font-size: 16px;
line-height: 27px;
margin-bottom: 25px;


}

.card .button{
    background-color: #15d1ea;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.4s;
    bottom: 5px;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #15d1ea;
    cursor: pointer;
}
.destination{
    color: white;
    text-align: center;
}
/*contact me section content*/
.contact-me{
    width: 100%;
    height: 150px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;

}
.contact-me .button-two{
    background-color: #15d1ea;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.4s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #15d1ea;
    cursor: pointer;
}
/*Footer*/
footer{
    position: relative;
    width: 100%;
    height: 200px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;   
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content:center;
    background: #15d1ea;
    border-radius: 50px;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform:scale(1.3);
    transition: 0.3s;
}
.end{
    position: absolute;
    color: #15d1ea;
    bottom:5px;
    font-size: 14px;  
}
/*Breakpoint*/
@media (max-width:992px){

    .header{
        padding:1.3rem 5%;

    }

    section{
        padding:80px 3%;
        transition: 0.2s;
    }
    .contact-form h1{
        font-size: 60px; 
    }
    .contact-form p{
        margin-bottom: 3rem;
        text-align: center;
        color: white;
    }
    
}
@media (max-width:768px){
    .icons{
        display:inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }

    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0,0,0,0.1);
        backdrop-filter: blur(20px);
        box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
        overflow: hidden;
        transition: 0.3s ease;
    }
    #check:checked~.navbar{
        height: 20.1rem;
    }
    .navbar  a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform:translateY(-50px);
        transition: 0.3s ease;
    }
    #check:checked~.navbar a{       
        transform:translateY(0);
        transition-delay: calc(0.15s *var(--i));
    }

    .contact{
        grid-gap:2rem;
        transition: 0.3s;
        grid-template-columns: 1fr;
    }
    .contact-form{
        order:2;
    }
    .contact-image img{
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .content-container{
        flex-direction: column;
        transition: 0.3s;
        }
        .content-image img{
            max-width: 100%;
            width: 100%;
            height: auto;
            text-align: center;
            margin-bottom: 30px;
            min-width: 400px;
        }
}